---
import { navigation_items, support_items } from "@/constants/header.constant";
import PawPrint from "@/assets/icons/paw-print.svg";
const items = navigation_items.concat(support_items);
---

<ul>
  {
    items.map((item) => {
      const subItems = item.subItems ?? [];
      const hasSubItems = subItems.length > 0;
      const className = hasSubItems ? "title-list-style" : "button-style";
      return (
        <li class="my-4">
          <a class={className} href={item.url}>
            <span class="px-2 font-semibold">{item.title}</span>
            {!hasSubItems && <PawPrint class="w-6 h-6" />}
          </a>
          <ul>
            {subItems.map((subitem) => (
              <li class="">
                <a
                  class="text-base font-semibold pl-10 text-dark hover:text-primary w-full max-w-md block px-2 py-1.5 rounded-lg hover:bg-primary/10 duration-300"
                  href={subitem.url}
                >
                  {subitem.title}
                </a>
              </li>
            ))}
          </ul>
        </li>
      );
    })
  }
</ul>

<style>
  .button-style,
  .title-list-style {
    color: var(--color-primary);
  }

  .button-style {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    width: fit-content;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
  }
  .button-style:hover {
    opacity: 0.8;
  }

</style>
